/* You can add global styles to this file, and also import other style files */
 @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body{

    background: url(./app/images/beach_moon.jpg)no-repeat 0px 0px;
    background-size: cover;
    font-family: cursive;
    line-height: normal;

}
    